*/**/.gitignore
**/target/*
**/.project
**/.classpath
**/.settings
**/.idea
**/*.iml
**/.metadata
**/.tern-project
*.rej
*.jsfdia
rebel.xml
rebel-remote.xml
*.xml.bak
test.properties
rest.properties
**/SSP-Arq-Test.log
lsp/
*.iml
*.ipr
*.iws
nb-configuration.xml
